@import url('https://fonts.googleapis.com/css?family=Montserrat');


.title {
  font-family: "Montserrat";
  text-align: center;
  color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 10vh;
  letter-spacing: 1px;
}

h1 {
  background-image: url(https://media.giphy.com/media/3oEdv5SY4LBHUBe2o8/giphy.gif);
  background-size: cover;
  color: transparent;
  -moz-background-clip: text;
  background-clip: text;
  text-transform: uppercase;
  font-size: 50px;
  line-height: .75;
  margin: 9px 0;
}




.login {
     
    background-color: #fcfcfc;
    display: grid;
    place-items: center;
    height: 100%;
}



.login > div >img{
    object-fit: contain;
    height: 150px;
}

.login > div{
    display: flex;
    flex-direction: column;

}

.login > button {
    width: 300px;
    background-color: #1269d3;
    color: #eff2f5;
    font-weight:800;
}





























